<h1 class="text-center"> Creador de color </h1>

<div class='row justify-content-center'>
  <input type="text" value="75" class="dial" id="red" data-min="0" data-max="255">
  <input type="text" value="75" class="dial" id="green" data-min="0" data-max="255">
  <input type="text" value="75" class="dial" id="blue" data-min="0" data-max="255">
</div>

<div class='row justify-content-center' id='cuadradito'>
  <p id='textito'></p>
</div>